<robot name="fixed_component" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link name="fixed_component_base">
    <inertial>
      <mass value="5" />
      <origin xyz="0 0 0" />
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1" />
    </inertial>
    <visual name="fixed_component_base_visual">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh scale="0.0001 0.0001 0.0001"
              filename="package://abb_robot_sandbox/meshes/fixed_component.stl" />
      </geometry>
    </visual>
    <collision name="fixed_component_bas_ecollision">
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh scale="0.0001 0.0001 0.0001"
              filename="package://abb_robot_sandbox/meshes/fixed_component.stl" />
      </geometry>
    </collision>
  </link>
</robot>
