<launch>
  <node name="state_validity_checker" pkg="ay_util" type="state_validity_checker_node" respawn="false" output="screen">
    <remap from="robot_description" to="gen3a/robot_description" />
    <!--<rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/>-->
  </node>
</launch>
