<!--
Common setup for Motoman SIA10f.
-->

<launch>
  <param name="robot_description"
         textfile="$(find motoman_sia10f_support)/urdf/sia10f.urdf" />
  <rosparam param="controller_joint_names">
  ["joint_s", "joint_l", "joint_e", "joint_u", "joint_r", "joint_b", "joint_t"]
  </rosparam>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" output="screen" />
  <!--<node pkg="tf2_ros" type="static_transform_publisher"
        name="tf_base_base_link" output="screen"
        args="0 0 0 0 0 0 1 base base_link" />-->

  <!--State validity checker:-->
  <include file="$(find ay_util)/launch/motoman/motomansia10f_state_validity_checker.launch"/>

  <!--Joy stick-->
  <arg name="jsdev" default="/dev/input/js1" />
  <node pkg="joy" type="joy_node" name="joy_node" >
    <param name="dev" type="string" value="$(arg jsdev)" />
  </node>

</launch>
