<?xml version="1.0"?>
<launch>
  <!-- Load the ABB IRB4600 URDF. -->
  <param name="robot_description"
         command="$(find xacro)/xacro --inorder '$(find abb_irb4600_support)/urdf/irb4600_20_250.xacro'" />

  <!-- Run the polynomial interpolation test node. -->
  <node name="vis" pkg="abb_robot_sandbox" type="test_poly_node.py" output="screen" />

  <!-- Run RViz -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find abb_robot_sandbox)/config/test_vis.rviz" output="screen" />

</launch>
