<!--
Setup real robot of Mikata Arm (gripper is rotated).
-->

<launch>

  <arg name="jsdev" default="/dev/input/js0" />
  <include file="$(find ay_util)/launch/mikata/mikata_rot_cmn.launch">
    <arg name="jsdev"  value="$(arg jsdev)" />
  </include>

  <!--<node pkg="rviz" type="rviz" name="rviz"/>-->

</launch>
