<!--
Common setup for Mikata Arm.
-->

<launch>
  <param name="robot_description"
         textfile="$(find mikata_arm_description)/description/urdf/mikata_arm_4.urdf" />
  <rosparam param="controller_joint_names">
  ["joint_1", "joint_2", "joint_3", "joint_4", "gripper_joint_5"]
  </rosparam>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" output="screen" />
  <!--<node pkg="tf2_ros" type="static_transform_publisher"
        name="tf_base_base_link" output="screen"
        args="0 0 0 0 0 0 1 base base_link" />-->

  <!--State validity checker:-->
  <include file="$(find ay_util)/launch/mikata/mikata_state_validity_checker.launch"/>

  <!--Joy stick-->
  <arg name="jsdev" default="/dev/input/js0" />
  <node pkg="joy" type="joy_node" name="joy_node" >
    <param name="dev" type="string" value="$(arg jsdev)" />
  </node>

</launch>
