<!--
Setup kinematics simulation of Universal Robots UR5e.
-->

<launch>

  <!--<include file="$(find ur_e_description)/launch/ur5e_upload.launch"/>-->
  <include file="$(find ur_description)/launch/load_ur5e.launch"/>

  <rosparam param="controller_joint_names">
  ["shoulder_pan_joint","shoulder_lift_joint","elbow_joint",
  "wrist_1_joint","wrist_2_joint","wrist_3_joint"]
  </rosparam>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" output="screen" />
  <!--<node pkg="tf2_ros" type="static_transform_publisher"
        name="tf_base_base_link" output="screen"
        args="0 0 0 0 0 0 1 base base_link" />-->

  <!--State validity checker:-->
  <include file="$(find ay_util)/launch/ur/ur_state_validity_checker.launch"/>

  <!--Joy stick-->
  <arg name="jsdev" default="/dev/input/js1" />
  <node pkg="joy" type="joy_node" name="joy_node" >
    <param name="dev" type="string" value="$(arg jsdev)" />
  </node>

  <node pkg="ay_util" type="dummy_robot.py"
        name="ur_dummy" output="screen"
        args="500">
    <remap from="/joint_speed_command" to="/ur_driver/joint_speed" />
  </node>

  <node pkg="rviz" type="rviz" name="rviz"/>

</launch>
