<!--
Run the ur_calibration tool to generate a robot-specific calibration file.
cf.
https://github.com/UniversalRobots/Universal_Robots_ROS_Driver#extract-calibration-information
-->
<launch>

  <arg name="robot_code" default="" />

  <group if="$(eval robot_code in ('UR3','UR3DxlG','UR3ThG','UR3DxlpO2_Straight1','UR3DxlpO2_SRound1','UR3DxlpO2_Fork1','UR3DxlpY1') )">
    <node name="calibration_correction" pkg="ur_calibration" type="calibration_correction" required="true" output="screen">
      <param name="robot_ip" value="$(optenv UR3_IP ur3a)"/>
      <param name="output_filename" value="$(env HOME)/data/calib/ur/$(optenv UR3_IP ur3a)_calibration.yaml"/>
      <param name="mkdir_tmp" command="mkdir -p $(env HOME)/data/calib/ur/" />
    </node>
  </group>

  <group if="$(eval robot_code in ('UR3e','UR3eThG','UR3eDxlG','UR3eDxlpO2_Straight1','UR3eDxlpO2_SRound1','UR3eDxlpO2_Fork1','UR3eDxlpY1') )">
    <node name="calibration_correction" pkg="ur_calibration" type="calibration_correction" required="true" output="screen">
      <param name="robot_ip" value="$(optenv UR3E_IP ur3ea)"/>
      <param name="output_filename" value="$(env HOME)/data/calib/ur/$(optenv UR3E_IP ur3ea)_calibration.yaml"/>
      <param name="mkdir_tmp" command="mkdir -p $(env HOME)/data/calib/ur/" />
    </node>
  </group>

  <group if="$(eval robot_code in ('UR5e','UR5eThG','UR5eDxlpY1') )">
    <node name="calibration_correction" pkg="ur_calibration" type="calibration_correction" required="true" output="screen">
      <param name="robot_ip" value="$(optenv UR5E_IP ur5ea)"/>
      <param name="output_filename" value="$(env HOME)/data/calib/ur/$(optenv UR5E_IP ur5ea)_calibration.yaml"/>
      <param name="mkdir_tmp" command="mkdir -p $(env HOME)/data/calib/ur/" />
    </node>
  </group>

</launch>
